<div class="container">
    <h1>Сброс пароля</h1>
    <div class="row">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            
            <!-- new password -->
            <label for="password">Новый пароль:</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">✉️</span>
                </div>
                <input [type]="newPasswordVisible? 'password' : 'text'" class="form-control" placeholder="new password" formControlName="newPassword">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary password-show" [ngClass]="newPasswordVisible? 'passwd-hidden' : 'passwd-visible'" type="button" (click)="newPasswordVisible = !newPasswordVisible"></button>
                </div>
            </div>
            
            <!-- repeat new password -->
            <label for="password">Повторите пароль:</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">✉️</span>
                </div>
                <input [type]="repeatPasswordVisible? 'password' : 'text'" class="form-control" placeholder="repeat password" formControlName="repeatPassword">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary password-show" [ngClass]="repeatPasswordVisible? 'passwd-hidden' : 'passwd-visible'" type="button" (click)="repeatPasswordVisible = !repeatPasswordVisible"></button>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!resetPasswordForm.valid || !isPasswordsMatch()">Задать новый пароль</button>

        </form>        
    </div>
</div>
