nav {
    margin-bottom: 1em;
}

a.navbar-brand {
    border-style: solid;
    border-width: 2px;
    border-radius: 0.35em;
    border-color: white;
    padding-top: 0.4rem;
    padding-right: 0.35rem;
    padding-bottom: 0.18rem;
    padding-left: 0.35rem;
    font-weight: 600;
}